@import 'src/assets/styles/variables.scss';
@import 'src/assets/styles/mixins.scss';

.calendar {
  width: 100px;
  font-weight: bold;
  margin: 1rem;

  @include mobile {
    width: 70px;
    margin: 0.5rem;
  }
}
.calendar-head {
  background-color: $primary-color;
  line-height: 1rem;
  font-size: 1rem;
  color: white;
  padding: 0.2rem;
  border-radius: 10px 10px 0 0;

  @include mobile {
    font-size: 0.7em;
    line-height: 12px;
  }
}

.calendar-body {
  background-color: rgb(238, 238, 238);
  line-height: 60px;
  font-size: 3rem;
  border-radius: 0 0 10px 10px;

  @include mobile {
    line-height: 40px;
    font-size: 2.2rem;
  }
}
